extends base
block metadata
	meta(property="og:title",content=post.title)
	meta(property="og:description",content=post.description)
	meta(property="og:image",content='https://blog.lazd.net/' + post.imageURL)
	meta(property="og:image:alt",content=post.imageAlt)
	meta(property="og:type",content="article")
	meta(property="og:url",content='https://blog.lazd.net/' + post.url)
	meta(property="og:site_name",content="lazd's blog")
	meta(property="twitter:card",content="summary_large_image")
	meta(property="twitter:site",content="@lazdnet")
block title
	title #{post.title} - #{data.title}
block content
	article.post
		h1.title= post.title
		time.date(datetime=data.moment(post.date).format("YYYY-MM-DD 00:00:00"))= data.moment(post.date).format("MMMM Do, YYYY")
		section!= post.content.replace(new RegExp('<a href=', 'g'), '<a target="_blank" href=')

		hr

		| <footer id="disqus_thread"></footer>
		| <script>
		| 	var disqus_shortname = 'lazdnet';
		|	  if (window.location.hostname !== 'localhost') {
		| 		(function() {
		| 			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		| 			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		| 			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		| 		})();
		|	  }
		| </script>
