extends ../layouts/base
block content
	ul.postPreviews
		each post in posts
			li.postPreview
				div.tag #{post.tags[0]}
				a(href = "#{post.url}")
					| !{post.image}
					h2 #{post.title}
					.date #{data.moment(post.date).format("MMMM Do, YYYY")}
					p.description !{post.description}
